# On ignore les fichier sur lesquels je ne travaille pas
/resnet/0/
/resnet/1/
/resnet/2/
/resnet/3/
/resnet/4/
/resnet/5/
/resnet/6/
/resnet/7/
/resnet/8/
/resnet/9/
/resnet/10/
/resnet/11/
/resnet/12/
/resnet/images/
/resnet/log/
